.search-navigation {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  font-size: 20px;
  width: 100%;
  height: auto;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.kolo-logo {
  cursor: pointer;
}

.location-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--stroke-gray);
  border-radius: 8px;
  justify-content: flex-start;
  padding: 0 20px;
}
.location-wrapper #autocomplete-input {
  margin-left: 10px;
  border: none;
  width: 100%;
  padding: 10px 0;
}
.location-wrapper #autocomplete-input:focus {
  border: none;
  outline: none;
}

.icon-wrapper {
  border: 1px solid var(--stroke-gray);
  padding: 10px 10px;
  border-radius: 8px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.navigation-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.navigation-links a {
  text-decoration: none;
  color: black;
}
