.modal-content {
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 0;
}

.modal-content form div {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--stroke-gray);
}

.modal-content button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: var(--accent-color);
  color: var(--background-white);
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.checkout-card {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding: 10px;
  border-radius: 8px;
}
.checkout-card label {
  font-size: 16px;
  font-weight: 600;
}

#card-number {
  width: 100%;
}
.message-container {
  padding: 10px;
}
#message-input {
  padding: 10px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.total-price h3 {
  font-size: 20px;
}

.price-details {
  padding-right: 10px;
  text-align: end;
  color: var(--stroke-gray);
}

.free-cancellation {
  width: 100%;
  padding: 10px;
  font-size: 21px;
  letter-spacing: 0.26px;
}

@media (min-width: 350px) and (max-width: 600px) {
  .modal-checkout-mobile {
    width: 90%;
    padding: 20px;
  }
  .form-group {
    width: 40%;
  }
  .checkout-card {
    justify-content: space-between;
    margin-bottom: 0;
  }
  .modal-checkout-mobile input {
    width: 100%;
  }

  .free-cancellation {
    font-size: 16px;
  }
  .message-container {
    margin-bottom: 5px;
  }
}
