.map-search {
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  width: 50%;
}

#autocomplete-input {
  width: 300px;
  font-size: 20px;
  border: 1px solid var(--stroke-gray);
  border-radius: 4px;
  background-color: var(--background-white);
}
