.gallery {
  display: flex;
  width: 70%;
  padding: 20px;
  margin-top: 50px;
  gap: 20px;
  align-items: stretch;
  margin-bottom: 20px;
}

.modal-gallery {
  position: relative;
  width: 50%;
  height: auto;
}
.modal-gallery img {
  width: 100%;
  height: auto;
}
.modal-gallery button {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
}

.gallery-main-image-wrapper {
  flex: 1.5;
}

.gallery-main-image-wrapper img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.side-gallery {
  flex: 1.25;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.side-gallery-image-wrapper {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.side-gallery-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 700px) and (max-width: 1250px) {
  .gallery {
    width: 80%;
  }

  @media (max-width: 1000px) {
    .gallery {
      width: 90%;
      padding: 15px;
    }
  }
}
