.inputContainer {
  display: flex;
  width: 239px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.inputContainer > h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--background-black, #222);
}

.intervalContainer {
  display: flex;
  width: 460px;
  padding: 8px 15px;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid var(--stroke-grey, #c0bebe);
  background: var(--background-white, #fafafa);
}

.intervalContainer > label {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: var(--background-black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intervalContainer > label > input {
  color: var(--background-black, #222);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--stroke-grey, #c0bebe);
  background: var(--background-white, #fafafa);
}

.inputContainer > button {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: var(--accent-color, #044343);
  color: var(--background-white, #fafafa);
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.intervalsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.intervalItem {
  display: flex;
  width: 427px;
  padding: 0px 15px;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.intervalItem > img {
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.intervalItem > img:hover {
  background-color: var(--stroke-grey, #e3e3e3);
}

@media (max-width: 530px) {
  .inputContainer {
    width: 100%;
  }

  .intervalContainer {
    width: min-content;
    flex-wrap: wrap;
  }

  .intervalItem {
    width: 100%;
    gap: 10px;
    padding: 0 8px;
  }

  .intervalItem > span {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .intervalItem > img {
    width: 30px;
    height: 30px;
  }
}
