.userVehiclesSection {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  gap: 40px;
}

.userVehiclesSection > h1 {
  color: var(--background-black, #222);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.callToActionContainer {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.callToActionContainer > img {
  width: 250px;
  height: 250px;
  aspect-ratio: 1/1;
}

.userVehiclesSection button {
  display: flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--background-black, #222);
  background: var(--accent-color, #044343);
  color: var(--background-white, #fafafa);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: ease 0.2s;
}

.userVehiclesSection button:hover {
  transform: scale(1.05);
}

.itemCard {
  display: flex;
  flex: 1 0 0;
  gap: 8px;
  padding: 17px 18px;
  border-radius: 10px;
  border: 1px solid var(--stroke-grey, #c0bebe);
}

.itemCard > img {
  width: 163px;
  height: 168px;
  border-radius: 10px;
}
