.navigation-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navigation-links a {
  position: relative;
  text-decoration: none;
  color: var(--background-black);
}

.navigation-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--background-black);
  transition: width 0.3s ease;
}

.navigation-links a:hover::after {
  width: 100%;
}

.navigation-links .active::after {
  width: 100%;
}

.login-button,
.register-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

#profile-icon {
  position: relative;
}
.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  gap: 8px;
  min-width: 150px;
}

.profile-menu p,
.profile-menu button {
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  border: none;
  background: none;
  font-size: 14px;
}

.profile-menu button:hover,
.profile-menu p:hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}
