.navigation-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navigation-links a {
  position: relative;
  text-decoration: none;
  color: var(--background-black);
}

.navigation-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--background-black);
  transition: width 0.3s ease;
}

.navigation-links a:hover::after {
  width: 100%;
}

.navigation-links .active::after {
  width: 100%;
}

.login-button,
.register-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
