.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  width: 100px;
  height: 100px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: roatate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
