.filters-section {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.filter-section > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sort-section {
  margin-bottom: 20px;
}

.vehicle-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
div > h2 {
  padding-left: 20px;
  margin-bottom: 20px;
}

.car-categories-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  cursor: pointer;
}

.category-wrapper img {
  width: 90%;
  height: auto;
}

#sort-select {
  margin-left: 20px;
}
