<h1>Pozdrav, {{ownerName}}</h1>
<p>Vaše vozilo je uspješno iznajmljeno korisniku:
  {{renterName}}.
  <br />
  Više informacija možete vidjeti</p>
<a href=''>ovdje</a>

<p>Korisnikova poruka: {{message}}</p>