.mobile-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--background-white);
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
  padding: 10px 0;
}

@media (min-width: 700px) {
  .mobile-navigation {
    display: none;
  }
}
