.profilePageContainer {
  width: 100%;
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0px 10px 0px 60px;
  margin-bottom: 50px;
}

.hiddenInput {
  display: none;
}

.tabs {
  display: flex;
  gap: 60px;
}

.tab {
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  background-color: transparent;
}

.activeTab {
  border-bottom: 1px solid var(--background-black);
}

.profileContainer {
  display: flex;
  flex-direction: row;
  gap: 155px;
}

.profileSection1 {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.profilePictureWrapper {
  position: relative;
  width: 110px;
  height: 110px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--stroke-gray);
}

.editPhotoIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.profileSection2 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.profileSection2 h2 {
  padding-left: 0px;
}

.textarea {
  height: 202px;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid var(--stroke-gray);
}

.sectionHeader {
  display: flex;
  gap: 11px;
}

.editVehicleListIcon {
  margin-bottom: 20px;
  cursor: pointer;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 60px;
  width: 100%;
  padding: 50px 0px 0px 507px;
}

.settingsBasic {
  width: 315px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup label {
  font-weight: 700;
  font-size: 20px;
}

.formGroup input {
  text-align: left;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  font-size: 20px;
  background-color: var(--background-white);
  border: 1px solid var(--stroke-gray);
}

.settingsDocuments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.settingsDocuments h2 {
  padding-left: 0px;
}

@media (max-width: 1000px) {
  .settingsContainer {
    padding: 0px;
    align-items: center;
  }

  .settingsDocuments {
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .profilePageContainer {
    top: 68px;
    padding: 0px 16px 80px 16px;
    margin-bottom: 0px;
    gap: 39px;
  }

  .tabs {
    gap: 0px;
    justify-content: space-between;
  }

  .tab {
    padding: 0px;
    font-size: 20px;
  }

  .profileContainer {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  .profileSection1 {
    gap: 16px;
  }

  .profileSection2 {
    width: 100%;
    gap: 60px;
  }

  .textarea {
    height: 100px;
  }

  .profileSection2 h2 {
    font-size: 20px;
  }
}
