.custom-marker {
  position: relative;
  background-color: black;
  color: var(--background-white);
  padding: 2px 12px;
  border-radius: 7px;
  white-space: nowrap;
  transform: translateY(-100%);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 700;
}
