.faqSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 70px;
}

.faqSection h1 {
  font-family: "Goodly";
  font-weight: 600;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
}

.faqContent {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}

@media (max-width: 1120px) {
  .faqImage {
    padding-top: 80px;
    max-width: 250px;
  }

  .faqSection h1 {
    font-size: 70px;
  }
}

@media (max-width: 1023px) {
  .faqImage {
    display: none;
  }

  .faqSection h1 {
    font-size: 70px;
  }
}

@media (max-width: 1023px) {
  .faqSection h1 {
    font-size: 40px;
  }

  .faqSection {
    padding: 100px 20px;
  }
}
