.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  align-self: stretch;
}

.inputsWrapper {
  display: flex;
  width: 654px;
  align-items: flex-start;
  gap: 21px;
}

.inputContainer {
  display: flex;
  width: 203px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
}

.inputContainer > h3 {
  align-self: stretch;
  color: var(--background-black, #222);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inputContainer > div {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.inputContainer > div > img {
  width: 31px;
  height: 38px;
}

.inputContainer > div > select {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--stroke-grey, #c0bebe);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--stroke-grey, #c0bebe);
  background: var(--background-white, #fafafa);
  cursor: pointer;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featuresContainer > h3 {
  align-self: stretch;
  color: var(--background-black, #222);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.featuresWrapper {
  width: 654px;
  display: flex;
  height: 115px;
  align-items: center;
  align-content: center;
  gap: 15px 45px;
  align-self: stretch;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  width: 180px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
