.mobile-nav-component {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.mobile-nav-component img {
  max-width: 30px;
  height: auto;
}

.mobile-nav-component p {
  color: var(--stroke-grey, #c0bebe);
}

.mobile-nav-component .active {
  color: var(--background-black, #222);
}
