@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-VariableFont_YTLC-opsz-wdth-wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("NunitoSans-Italic-VariableFont_YTLC-opsz-wdth-wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Goodly";
  src: url("goodly-medium.otf");
  font-style: normal;
}
