.date-range-container {
  display: flex;
  align-items: center;
  padding: 14px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-family: sans-serif;
  width: fit-content;
  gap: 8px;
}

.date-label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.date-label input {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.date-divider {
  width: 1px;
  height: 24px;
  background-color: var(--stroke-gray);
}
