.info-window {
  padding: 0 10px;
}

.info-window-vehicle-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-window-vehicle-info h3 {
  font-size: 20px;
}
.info-window-vehicle-info p {
  font-size: 16px;
}

.gm-style-iw.gm-style-iw-c {
  padding: 20px;
  padding-top: 20px !important;
}

.gm-style-iw-chr {
  width: 30%;
  position: absolute;
  top: 5px;
  right: -40px;
}

.gm-style-iw-ch {
  display: none;
}
